@{
	string isShopActive = "";
	string isHomeActive = "";
	string isOrderActive = "";
	string isContactActive = "";
	string isProfileActive = "";

	if (ViewData["Title"] == "Cửa hàng" || ViewData["Title"] == "Tìm kiếm" || ViewData["Title"] == "Chi tiết sản phẩm")
	{
		isShopActive = "active";
	}
	if (ViewData["Title"] == "Trang chủ")
	{
		isHomeActive = "active";
	}
	if (ViewData["Title"] == "Đơn hàng" || ViewData["Title"] == "Hóa đơn")
	{
		isOrderActive = "active";
	}
	if (ViewData["Title"] == "Liên hệ")
	{
		isContactActive = "active";
	}
	if (ViewData["Title"] == "Thông tin cá nhân")
	{
		isProfileActive = "active";
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["title"]</title>
	<link href="/user/css/bootstrap.min.css" rel="stylesheet">
	<link href="/user/css/font-awesome.min.css" rel="stylesheet">
	<link href="/user/css/global.css" rel="stylesheet">
	<link href="/user/css/index.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<script src="/user/js/bootstrap.bundle.min.js"></script>

</head>
<body>

	<section id="top" class="bg_dark pt-2 pb-2">
		<div class="container-xl">
			<div class="row top_1">
				<div class="col-md-6">
					<div class="top_1l">
						<p class="font_14 text-light mb-0">"Sự tự tin bắt đầu từ trang phục hoàn hảo."</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="top_1r text-end">
						@if (User.Identity.IsAuthenticated)
						{

						﻿@using Microsoft.AspNetCore.Identity;
						@using Microsoft.AspNetCore.Mvc;
						@inject UserManager<User> UserManager
							var user = await UserManager.GetUserAsync(User);
							var roles = await UserManager.GetRolesAsync(user);


							<ul class="mb-0">
								@if (roles.Contains("Manager"))
								{
									<li class="d-inline-block mx-3"><a class="text-light font_12" asp-action="SaleReport" asp-controller="Invoices">TRANG QUẢN TRỊ</a></li>
								}
								<li class="d-inline-block"><a class="text-light font_12" asp-action="Profile" asp-controller="Account">HỒ SƠ</a></li>
								<li class="d-inline-block mx-3"><a class="text-light font_12" asp-action="Logout" asp-controller="Account">ĐĂNG XUẤT</a></li>
							</ul>
						}
						else
						{
							<ul class="mb-0">
								<li class="d-inline-block"><a class="text-light font_12" asp-action="SignUp" asp-controller="Account">ĐĂNG KÝ</a></li>
								<li class="d-inline-block mx-3"><a class="text-light font_12" asp-action="SignIn" asp-controller="Account">ĐĂNG NHẬP</a></li>
							</ul>
						}

					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="header">
		<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none; top:0;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-transparent border-0">
					<div class="modal-header border-0">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
					</div>
					<div class="modal-body p-0">
						<div class="search_1">
							<form asp-action="Search" asp-controller="Home">
								<div class="input-group">
									<input type="text" class="form-control bg-transparent border-0" placeholder="Nhập sản phẩm bạn tìm kiếm ở đây.." name="query">
									<span class="input-group-btn">
										<button class="btn btn-primary bg-transparent border-0" type="submit">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-md navbar-light bg-white shadow_box" id="navbar_sticky">
			<div class="container-xl">
				<a class="navbar-brand p-0 fw-bold me-5" asp-action="Index" asp-controller="Home"><i class="fa fa-male lh-1 align-middle me-1 col_red"></i> NTMFashion</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mb-0">

						<li class="nav-item">
							<a class="nav-link @isHomeActive" aria-current="page" asp-action="Index" asp-controller="Home">Trang chủ</a>
						</li>

						<li class="nav-item">
							<a class="nav-link @isShopActive" asp-action="Shop" asp-controller="Home">Cửa hàng </a>
						</li>
						<li class="nav-item">
							<a class="nav-link @isOrderActive" asp-action="Order" asp-controller="Home">Đơn hàng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @isContactActive" asp-action="Contact" asp-controller="Home">Liên hệ hỗ trợ </a>
						</li>

					</ul>
					<ul class="navbar-nav mb-0 ms-auto">

						<li class="nav-item">
							<a class="nav-link nav_hide" data-bs-target="#exampleModal2" data-bs-toggle="modal" href="#"><i class="fa fa-search"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav_hide @isProfileActive" asp-action="Profile" asp-controller="Account"><i class="fa fa-user"></i></a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle nav_hide " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-shopping-bag"></i>
							</a>
							<ul class="dropdown-menu drop_cart" aria-labelledby="navbarDropdown" style="">
								<li>
									<div class="drop_1i row">
										<div class="col-md-6 col-6">

									@if (ViewBag.cartOfUser != null)
									{
											<div class="drop_1il"><h6>
														@ViewBag.cartOfUser.Count Sản phẩm
												</h6>
											</div>
										
									}
										</div>
										<div class="col-md-6 col-6">
											<div class="drop_1il text-end"><h6><a asp-action="Cart" asp-controller="Home">Xem giỏ hàng</a></h6></div>
										</div>
									</div>
									@if (ViewBag.cartOfUser != null)
									{
											//tính tổng tiền của giỏ hàng
											double totalPrice = 0;
											foreach (var detail in ViewBag.cartOfUser)
											{
												int quantity = detail.Quantity;
												double price = (double)detail.Product.Price;
												totalPrice += quantity * price;
											}
										foreach (var detail in ViewBag.cartOfUser)
										{
											<div class="drop_1i1 row">
												<div class="col-md-6 col-6">
													<div class="drop_1i1l"><h6>
														<a asp-action="Detail" asp-controller="Home" asp-route-id="@detail.ProductId">@detail.Product.Name - @detail.Product.Dimension</a><br><span class="fw-normal d-inline-block mt-1">@detail.Quantity x - @{
																	var total = detail.Product.Price * detail.Quantity;
																} @total.ToString("N0")  VND</span></h6></div>
												</div>
												<div class="col-md-4 col-4">
													<div class="drop_1i1r"><a href="#"><img img src="@detail.Product.ProductImages[0].ImgURL" class="w-100" alt="abc"></a></div>
												</div>
												<div class="col-md-2 col-2">
													<div class="drop_1i1l text-end"><h6> <span>
																<a asp-action="delInCart" asp-controller="Home" asp-route-detailId="@detail.Id">
														<i class="fa fa-trash"></i>
																</a>
													</span></h6></div>
												</div>
											</div>
										}


									@* tong *@
									<div class="drop_1i2 row">
										<div class="col-md-6 col-6">
											<div class="drop_1il"><h5>Tổng</h5></div>
										</div>
										<div class="col-md-6 col-6">
											<div class="drop_1il text-end">
												<h5>
													@totalPrice.ToString("N0") VND
												</h5>
											</div>
										</div>
									</div>

									<div class="drop_1i3 text-center row">
										<div class="col-md-12 col-12">
											<h6><a class="button_1 d-block" asp-action="Cart" asp-controller="Home">Chi tiết giỏ hàng</a></h6>
										</div>
									</div>
									<div class="drop_1i3 text-center row">
										<div class="col-md-12 col-12">
											<h6><a class="button d-block" asp-action="Checkout" asp-controller="Home">Thanh toán</a></h6>
										</div>
									</div>
									}
								</li>
							</ul>
						</li>
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link nav_hide" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out"></i></a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</section>

	@RenderBody()

	<section id="footer" class="p_3 bg_dark">
		<div class="container-xl">
			<div class="footer_1 row">
				<div class="col-md-2 px-2">
					<div class="footer_1i">
						<h3><a class="fw-bold text-white" asp-action="Index" asp-controller="Home"><i class="fa fa-male lh-1 align-middle me-1 col_red"></i>NTMFashion</a></h3>
						<p class="text-muted font_14 mt-3">Kết hợp hoàn hảo giữa sự đơn giản và tinh tế, tạo nên phong cách thời trang hiện đại và đẳng cấp.</p>
					</div>
				</div>
				<div class="col-md-2 px-2">
					<div class="footer_1i">
						<h5 class="text-white mb-4">Vị trí của chúng tôi</h5>
						<p class="text-muted mb-2 font_14">382 Sixth Avenue East Street, Old Venue</p>
						<p class="text-muted mb-2 font_14"><span class="text-light">Phone:</span> <br> +(000) 345 67 89</p>
						<p class="text-muted font_14  mb-0"><span class="text-light">Email:</span> <br> info@gmail.com</p>
					</div>
				</div>
				<div class="col-md-2 px-2">
					<div class="footer_1i">
						<h5 class="text-white mb-4">Thông tin</h5>
						<div class="footer_1ism row">
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Về chúng tôi</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Câu hỏi thường gặp</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Hợp tác</a></h6>
						</div>

					</div>
				</div>
				<div class="col-md-2 px-2">
					<div class="footer_1i">
						<h5 class="text-white mb-4">Khám phá</h5>
						<div class="footer_1ism row">
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Áo</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Quần</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14 mb-0" href="#">Cửa hàng</a></h6>
						</div>
					</div>
				</div>
				<div class="col-md-2 px-2">
					<div class="footer_1i">
						<h5 class="text-white mb-4">Mạng xã hội</h5>
						<div class="footer_1ism row">
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Instagram</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14" href="#">Facebook</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14 mb-0" href="#">Youtube</a></h6>
							<h6 class="col-md-12 col-6"><a class="text-muted font_14 mb-0" href="#">Zalo</a></h6>
						</div>

					</div>
				</div>
				<div class="col-md-2 px-2">
					<div class="footer_1i">
						<h5 class="text-white mb-4">Download App</h5>
						<p class="text-muted font_14">
							Onea App for iOS
							and Android
						</p>
						<h5 class="text-white mt-3">Newsletter</h5>
						<div class="input-group mt-4">
							<input type="text" class="form-control border-0 rounded-0 font_12 bg-transparent" placeholder="YOUR EMAIL">
							<span class="input-group-btn">
								<button class="btn btn-primary bg-transparent border-0 rounded-0" type="button">
									<i class="fa fa-envelope col_red"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_2 row mt-3 text-center pt-3">
				<div class="col-md-12">
					<p class="text-muted mb-0 font_14">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_red" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
				</div>
			</div>
		</div>
	</section>

	<script>
		window.onscroll = function () { myFunction() };

		var navbar_sticky = document.getElementById("navbar_sticky");
		var sticky = navbar_sticky.offsetTop;
		var navbar_height = document.querySelector('.navbar').offsetHeight;

		function myFunction() {
			if (window.scrollY >= sticky + navbar_height) {
				navbar_sticky.classList.add("sticky")
				document.body.style.paddingTop = navbar_height + 'px';
			} else {
				navbar_sticky.classList.remove("sticky");
				document.body.style.paddingTop = '0'
			}
		}
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>