@model IEnumerable<doan1_v1.Models.PurchaseReport>

@{
    ViewData["Title"] = "Lịch sử giao dịch";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">NTMFashion</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý sản phẩm</a>
                </li>
              </ul>
            </div>
            
              <!-- bảng hàng hóa -->
              <div class="mb-3">
                <table class="table">
                  <thead>
                      <tr>
                        <th>Mã hóa đơn phiếu nhập</th>
                        <th>Ngày nhập</th>
                        <th>Nhà cung cấp</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                          <th>Chi tiết</th>
                      </tr>
                  </thead>
                  <tbody>
                    @foreach (var purchaseReport in ViewBag.PurchaseReports)
                    {
                    @if (purchaseReport.IsDel)
                    {
                        continue;
                    }
                    <tr>
                        <td>@purchaseReport.CodePurchaseReport</td>
                        <td>@purchaseReport.DatePurchase</td>
                        <td>@purchaseReport.Supplier.Name</td>
                        <td>Chua tinh duoc</td>
                        @if (purchaseReport.IsUpdate)
                        {
                            <td>Đã cập nhật vào kho</td>
                        }
                        else
                        {
                            <td>Chưa cập nhật vào kho</td>
                        }
                        <td>
                            <a asp-action="Details" asp-route-id="@purchaseReport.Id"
                               target="_blank"
                               asp-controller="PurchaseReports">Xem chi tiết phiếu nhập</a>
                        </td>
                      </tr>
                    }
                  </tbody>
              </table>
            </div>
            
          </div>
          @* <h1>Edit</h1>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDel" /> @Html.DisplayNameFor(model => model.IsDel)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
