@model IEnumerable<doan1_v1.Models.Order>

@{
    ViewData["Title"] = "Quản lý hóa đơn";
}
<div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">NTMFashion</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý sản phẩm</a>
                </li>
              </ul>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Thông tin sản phẩm</h4>
                      
                    <!-- form them -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newRowModalLabel">Thêm thông tin sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form action="">
                              <div class="mb-3">
                              <label class="form-label" for="">Lý do hủy hóa đơn</label>
                              <input class="form-control" type="text" name="" id="">
                              </div>
                            
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-danger" >Hủy hóa đơn</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="addRowModal"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >

                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Tên khách hàng</th>
                            <th>Ngày thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Ngày giao</th>
                            <th>Tổng tiền</th>
                            <th>Số điện thoại</th>
                            <th style="width: 10%">Thao tác</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Tên khách hàng</th>
                            <th>Ngày thanh toán</th>
                            <th>Trạng thái</th>
                            <th>Ngày giao</th>
                            <th>Tổng tiền</th>
                            <th>Số điện thoại</th>
                            <th style="width: 10%">Thao tác</th> 
                          </tr>
                        </tfoot>
                        <tbody>                         

                          <tr>
                            <td>Nguyễn Văn A</td>
                            <td>10/10/2024</td>
                            <td>Đã thanh toán</td>
                            <td>10/10/2024</td>
                            <td>12.000.000</td>
                            <td>0987654321</td>
                            <td>
                              <div class="form-button-action">
                                <!-- view -->
                                <a
                                href="update_order.html"
                                type="button"
                                title="Xem chi tiết phiếu nhập"
                                class="btn btn-link btn-primary btn-lg"
                              >
                                <i class="fa fa-eye"></i>
                              </a>
                                <!-- delete -->
                                <button
                                  type="button"
                                  title="Hủy hóa đơn"
                                  class="btn btn-link btn-danger"
                                  data-original-title="Remove"
                                  data-bs-toggle="modal"
                                  data-bs-target="#addRowModal"
                                >
                                  <i class="fa fa-times"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
