@model doan1_v1.Models.PurchaseReport

@{
    ViewData["Title"] = "Chỉnh sửa phiếu nhập kho";
    var purchaseReportDetail = ViewData["Detail"] as doan1_v1.Models.PurchaseReport;
}
}

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">NTMFashion</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/">Quản lý</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý kho</a>
            </li>
        </ul>
    </div>

    <form class="row" action="">
        <!-- mã hóa đơn -->
        <div class="mb-3">
            <label asp-for="CodePurchaseReport" class="form-label">Mã hóa đơn</label>
            <input disabled type="text" class="form-control" id="name" asp-for="CodePurchaseReport">
            <span asp-validation-for="CodePurchaseReport" class="text-danger"></span>
        </div>
        <!-- nhà cung cấp -->
        <div class="mb-3">
            <label asp-for="SupplierId" class="form-label">Tên nhà cung cấp</label>
            <select disabled asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>
        <!-- ngày nhập kho -->
        <div class="mb-3">
            <label asp-for="DatePurchase">Ngày nhập kho:</label>
            <input disabled asp-for="DatePurchase" class="form-control" />
            <span asp-validation-for="DatePurchase" class="text-danger"></span>
        </div>
        <!-- bảng hàng hóa -->
        <div class="mb-3">
            <table class="table" id="tableProduct">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Màu sắc</th>
                        <th>Kích thước</th>
                        <th>Chất liệu</th>
                        <th>Nhà sản xuất</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.PurchaseReportProductDetails != null)
                    {
                        @foreach (var detail in Model.PurchaseReportProductDetails)
                        {
                            <tr>
                                <td><input disabled name="name_products" type="text" class="form-control" value="@detail.Product.Name"></td>
                                <td>
                                    <select disabled name="categoryIds" class="form-control">

                                        @foreach (var category in (List<Category>)ViewBag.Categories)
                                        {
                                            if (detail.Product.CategoryId == category.Id)
                                            {
                                                <option selected value="@category.Id">@category.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td><inputdisabled name="colors" type="text" class="form-control" value="@detail.Product.Color"></td>
                                <td><input disabled name="dimensions" type="text" class="form-control" value="@detail.Product.Dimension"></td>
                                <td><input disabled name="materials" type="text" class="form-control" value="@detail.Product.Material"></td>
                                <td><inputdisabled name="productors" type="text" class="form-control" value="@detail.Product.Productor"></td>
                                <td><input disabled name="quantitys" type="number" class="form-control" value="@detail.Quantity"></td>
                                <td><input disabled name="prices" type="number" class="form-control" value="@detail.PricePurchase"></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            
        </div>

        <div class="mb-3">
            <label asp-for="OtherCost">Phí khác:</label>
            <input disabled type="number" class="form-control" id="otherCost" asp-for="OtherCost" value="@Model.OtherCost">
            <span asp-validation-for="OtherCost" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Note" class="form-label">Ghi chú (nếu có)</label>
            <textarea disabled class="form-control" rows="5" asp-for="Note" id="" value="@Model.Note"></textarea>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="mb-3-md">
            <a asp-action="Index" class="btn btn-danger">Trở lại</a>
            
        </div>
    </form>
</div>
