@model doan1_v1.Models.PurchaseReport

@{
    ViewData["Title"] = "Chỉnh sửa phiếu nhập kho";
    var purchaseReportDetail = ViewData["Detail"] as doan1_v1.Models.PurchaseReport;
}


<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">NTMFashion</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/">Quản lý</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý kho</a>
            </li>
        </ul>
    </div>

    <form class="row" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <!-- mã hóa đơn -->
        <div class="mb-3">
            <label asp-for="CodePurchaseReport" class="form-label">Mã hóa đơn</label>
            <input type="text" class="form-control" id="name" asp-for="CodePurchaseReport">
            <span asp-validation-for="CodePurchaseReport" class="text-danger"></span>

        </div>
        <!-- nhà cung cấp -->
        <div class="mb-3">
            <label asp-for="SupplierId" class="form-label">Tên nhà cung cấp</label>
            <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>
        <!-- ngày nhập kho -->
        <div class="mb-3">
            <label asp-for="DatePurchase">Ngày nhập kho:</label>
            <input asp-for="DatePurchase" class="form-control" />
            <span asp-validation-for="DatePurchase" class="text-danger"></span>
        </div>
        <!-- bảng hàng hóa -->
        <div class="mb-3">
            <table class="table" id="tableProduct">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Màu sắc</th>
                        <th>Kích thước</th>
                        <th>Chất liệu</th>
                        <th>Nhà sản xuất</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                    </tr>
                </thead>
                <tbody>
                    @*  <tr style="display: none;">
                    <td><input name="name_products" type="text" class="form-control" ></td>
                    <td>
                    <select id="categoryOptionsTemplate" name="categoryIds" class="form-control"></select>
                    </td>
                    <td><input name="colors" type="text" class="form-control"></td>
                    <td><input name="dimensions" type="text" class="form-control"></td>
                    <td><input name="materials" type="text" class="form-control"></td>
                    <td><input name="productors" type="text" class="form-control"></td>
                    <td><input name="quantitys" type="number" class="form-control" value= 0></td>
                    <td><input name="prices" type="number" class="form-control" value= 0></td>
                    </tr> *@
                    @if (Model.PurchaseReportProductDetails != null)
                    {
                        @foreach (var detail in Model.PurchaseReportProductDetails)
                        {
                            <tr>
                                <td><input name="name_products" type="text" class="form-control" value="@detail.Product.Name"></td>
                                <td>
                                    <select id="categoryOptionsTemplate" name="categoryIds" class="form-control">

                                        @foreach (var category in (List<Category>)ViewBag.Categories)
                                        {
                                            if (detail.Product.CategoryId == category.Id)
                                            {
                                                <option selected value="@category.Id">@category.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td><input name="colors" type="text" class="form-control" value="@detail.Product.Color"></td>
                                <td><input name="dimensions" type="text" class="form-control" value="@detail.Product.Dimension"></td>
                                <td><input name="materials" type="text" class="form-control" value="@detail.Product.Material"></td>
                                <td><input name="productors" type="text" class="form-control" value="@detail.Product.Productor"></td>
                                <td><input name="quantitys" type="number" class="form-control" value="@detail.Quantity"></td>
                                <td><input name="prices" type="number" class="form-control" value="@detail.PricePurchase"></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <button class="btn btn-secondary" type="button" onclick="addRow()">Thêm hàng</button>
        </div>

        <div class="mb-3">
            <label asp-for="OtherCost">Phí khác:</label>
            <input type="number" class="form-control" id="otherCost" asp-for="OtherCost" value="@Model.OtherCost">
            <span asp-validation-for="OtherCost" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Note" class="form-label">Ghi chú (nếu có)</label>
            <textarea class="form-control" rows="5" asp-for="Note" id="" value="@Model.Note"></textarea>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="mb-3-md">
            <a asp-action="Index" class="btn btn-danger">Hủy</a>
            <button type="submit" value="Save" class="btn btn-primary">Tạo</button>
        </div>
    </form>
</div>

@* <h1>Edit</h1>

<h4>PurchaseReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodePurchaseReport" class="control-label"></label>
                <input asp-for="CodePurchaseReport" class="form-control" />
                <span asp-validation-for="CodePurchaseReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePurchase" class="control-label"></label>
                <input asp-for="DatePurchase" class="form-control" />
                <span asp-validation-for="DatePurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherCost" class="control-label"></label>
                <input asp-for="OtherCost" class="form-control" />
                <span asp-validation-for="OtherCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsUpdate" class="control-label"></label>
                <input asp-for="IsUpdate" class="form-control" />
                <span asp-validation-for="IsUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- nguyen's script -->
    <script>
        function addRow() {
            var table = document.getElementById("tableProduct");
            var tbody = table.getElementsByTagName("tbody")[0];

            // Tạo một hàng mới
            var newRow = tbody.insertRow();

            // Tạo các ô dữ liệu cho hàng mới
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);
            var cell6 = newRow.insertCell(5);
            var cell7 = newRow.insertCell(6);
            var cell8 = newRow.insertCell(7);

            // Thêm nội dung vào các ô (bạn có thể thay đổi nội dung này)
            cell1.innerHTML = "<input name='name_products' type='text' class='form-control'>";

            // Tạo thẻ select mới
            var select = document.createElement("select");
            select.name = "categoryIds";
            select.classList.add("form-control");
            // Lấy HTML của các option từ select mẫu
            select.innerHTML = document.getElementById("categoryOptionsTemplate").innerHTML;
            // Thêm thẻ select vào ô mới
            cell2.appendChild(select);

            cell3.innerHTML = "<input name='colors' type='text' class='form-control'>";
            cell4.innerHTML = "<input name='dimensions' type='text' class='form-control'>";
            cell5.innerHTML = "<input name='materials' type='text' class='form-control'>";
            cell6.innerHTML = "<input name='productors' type='text' class='form-control'>";
            cell7.innerHTML = "<input name='quantitys' type='number' class='form-control' value = 0>";
            cell8.innerHTML = "<input name='prices' type='number' class='form-control' value =0>";



        }
    </script>
}
