@model IEnumerable<doan1_v1.Models.PurchaseReport>

@{
    ViewData["Title"] = "Quản lý kho";
}
<div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">NTMFashion</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý sản phẩm</a>
                </li>
              </ul>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Thông tin sản phẩm</h4>
                      
                      <button 
                      data-bs-toggle="modal"
                      data-bs-target="#addRowModal"
                      class="btn btn-primary btn-round ms-auto"
                    >
                      <i class="fa fa-search"></i>
                      Thống kê số lượng
                    </button>
                    <a asp-action="Create"
                           class="btn btn-primary btn-round ms-auto">
                            <i class="fa fa-plus"></i>
                            Thêm phiếu nhập kho
                     </a>
                    <!-- form them -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newRowModalLabel">Thêm thông tin sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                           <form action="">
                                <div class="mb-3">
                                    <table class="table mt-3" id="ketQua">
                                        <thead>
                                            <tr>
                                                <th>Danh mục</th>
                                                <th>Số lượng tồn kho</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Áo thun</td>
                                                <td>20</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="addRowModal"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >

                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Mã hóa đơn phiếu nhập</th>
                            <th>Ngày nhập</th>
                            <th>Nhà cung cấp</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th style="width: 10%">Thao tác</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Mã hóa đơn phiếu nhập</th>
                            <th>Ngày nhập</th>
                            <th>Nhà cung cấp</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th style="width: 10%">Thao tác</th> 
                          </tr>
                        </tfoot>
                        <tbody>

                                    @foreach (var purchaseReport in ViewBag.PurchaseReports)
                                    {
                                        @if(purchaseReport.IsDel == true)
                                        {
                                            continue;
                                        }
                                        <tr>
                                            <td>@purchaseReport.CodePurchaseReport</td>
                                            <td>@purchaseReport.DatePurchase</td>
                                            <td>@purchaseReport.Supplier.Name</td>
                            <td>Chua tinh duoc</td>
                                            @if(purchaseReport.IsUpdate){
                                                <td>Đã cập nhật vào kho</td>
                                            }
                                            else{
                                                <td>Chưa cập nhật vào kho</td>
                                            }
                            <td>
                              <div class="form-button-action">
                                <!-- view -->
                                <a
                                    asp-action="Details" asp-route-id="@purchaseReport.Id"
                                type="button"
                                target="_blank"
                                title="Xem chi tiết phiếu nhập"
                                class="btn btn-link btn-primary btn-lg"
                              >
                                <i class="fa fa-eye"></i>
                              </a>

                            
                                <!-- update -->
                                @if(!purchaseReport.IsUpdate){
                                <a
                                    asp-action="Edit" asp-route-id="@purchaseReport.Id"
                                  title="Chỉnh sửa phiếu nhập kho"
                                  class="btn btn-link btn-primary btn-lg"
                                >
                                  <i class="fa fa-edit"></i>
                                </a>
                                                    }
                                <!-- update quantity -->
                                @if(!purchaseReport.IsUpdate){
                                    <a asp-action="UpdateQuantity" asp-route-id="@purchaseReport.Id"
                                    type="button"
                                    title="Cập nhật sản phẩm của phiếu vào kho"
                                    class="btn btn-link btn-primary btn-lg"
                                  >
                                    <i class="fa fa-plus"></i>
                                  </a>
                                                    }
                                <!-- delete -->
                                <a
                                    asp-action="Delete" asp-route-id="@purchaseReport.Id"
                                  type="button"
                                  title="Xóa phiếu nhập kho"
                                  class="btn btn-link btn-danger btn-lg"
                                  data-original-title="Remove"
                                >
                                  <i class="fa fa-times"></i>
                                </a>
                              </div>
                            </td>
                          </tr>
                                    }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodePurchaseReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodePurchaseReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@