@{
	ViewData["Title"] = "Giỏ hàng";
	var cartId = 1; //id cua cart - test
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="center" class="p_3 bg_light">
	<div class="container-xl">
		<div class="row center_1">
			<div class="col-md-12">
				<h6 class="font_14"><a asp-action="Index" asp-controller="Home">Trang chủ</a>  <span class="mx-2">/</span>  <span class="col_red">Giỏ hàng</span></h6>
				<h2 class="mb-0 mt-3 lh-1">Giỏ hàng</h2>
			</div>
		</div>
	</div>
</section>


<section id="cart_page" class="cart p_3">
	<div class="container-xl">
		<div class="cart_2 row">
			<div class="col-md-6">
				<h5>GIỎ HÀNG CỦA TÔI</h5>
			</div>
			<div class="col-md-6">
				<h5 class="text-end text-uppercase"><a asp-action="Shop" asp-controller="Home">Tiếp tục mua sắm</a></h5>
			</div>
		</div>
		<div class="cart_3 row mt-3">
			<div class="col-md-8">
				<div class="cart_3l">
					<h6>SẢN PHẨM</h6>
				</div>
				@if (ViewBag.details != null)
				{
					
					@foreach (var detail in ViewBag.details)
					{
						<form asp-action="changeQuantity" asp-controller="Home" method="post">
						<div class="cart_3l1 mt-3 row ms-0 me-0">
							<div class="col-md-3 ps-0 col-3">
								<div class="cart_3l1i">
									<a asp-action="Detail" asp-controller="Home" asp-route-id="@detail.Product.Id">
										<img src="@detail.Product.ProductImages[0].ImgURL" alt="abc" class="w-100">
									</a>
								</div>
							</div>
							<div class="col-md-9 col-9">
								<div class="cart_3l1i1">
									<h6 class="fw-bold">
										<a asp-action="Detail" asp-controller="Home" asp-route-id="@detail.Product.Id">@detail.Product.Name</a>
									</h6>
									<h6 class="fw-normal font_12 mt-3">@detail.Product.Color</h6>
										<h5 class="col_red mt-3">@detail.Product.Price.ToString("N0") VND</h5>
									<h6 class="font_12 mt-3 mb-3">Quantity</h6>
								</div>
								<div class="cart_3l1i2">
										<input type="number" id="quantity" name="quantity" min="1" value="@detail.Quantity" class="form-control" placeholder="Qty" onchange="updateQuantity()">
									
									<h6>
										<a class="button_1" asp-action="delInCart" asp-controller="Home" asp-route-detailId="@detail.Id" asp-route-cartId="@cartId">Xóa</a>
									</h6>

									<h6>

											
											<input type="hidden" name="detailId" value="@detail.Id" />
											<input type="hidden" name="cartId" value="@cartId" />
											<button id="updateButton" class="button" type="submit">Cập Nhật</button>
										
									</h6>
								</div>
							</div>
						</div>
						</form>
					}
				

				}
			</div>

			@if (ViewBag.totalPrice != null){
			<div class="col-md-4">
				<div class="cart_3r">
					<h6 class="head_1">TỔNG TIỀN</h6>
					<h5 class="text-center col_red mt-3">

								@ViewBag.totalPrice.ToString("N0")
						 VND
						</h5>
					<hr>
					 @* <h6 class="font_13">Thêm ghi chú</h6>
					 <textarea class="form-control"></textarea> *@
					<h6 class="text-center mt-3"><a class="button" asp-action="Checkout" asp-controller="Home" >THANH TOÁN</a></h6><br>
					<h5></h5>
					<hr>
				</div>
				
			</div>
			}
		</div>

	</div>

</section>
<script>
	function updateQuantity() {


		// Lấy giá trị của input detailQuantity
		var quantityValue = document.getElementById('detailQuantity').value;

		// Cập nhật giá trị vào input ẩn quantity
		document.getElementById('quantity').value = quantityValue;
	}


</script>