@{
	ViewData["Title"] = "Thanh toán";
	var cart = ViewBag.cart;
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="center" class="p_3 bg_light">
 <div class="container-xl">
  <div class="row center_1">
   <div class="col-md-12">
     <h6 class="font_14"><a href="#">Trang chủ</a>  <span class="mx-2">/</span>  <span class="col_red">Thanh toán</span></h6>
	 <h2 class="mb-0 mt-3 lh-1">Thanh toán</h2>
   </div>
  </div>
 </div>
</section>

<section id="checkout" class="p_3">
 <div class="container-xl">
	 @if(cart != null){
<form asp-action="confirmCheckout"  asp-controller="Home">
			<input type="hidden" name="cartId" value="@cart.Id"/>
			<input type="hidden" name="customerId" value="@cart.UserId" />
  <div class="checkout_1 row">
    <div class="col-md-8">

	  <div class="checkout_1l">
	   <h5>Thông tin của bạn</h5>
	   <p>Hãy kiểm tra thật kĩ thông tin trước khi đặt hàng</p>
	  </div>
	  <div class="checkout_1l1 row">
		<div class="col-md-12 ps-0">
	    <h6>Họ tên của bạn</h6>
							<input disabled class="form-control" type="text" value="@cart.User.FullName">
		</div>
	  </div>
	  <div class="checkout_1l1 row">	
       <div class="col-md-6 ps-0">
	    <h6>Email <span></span></h6>
							<input disabled class="form-control" type="text" value="@cart.User.Email">
	   </div>
	   <div class="col-md-6 ps-0">
	    <h6>Số điện thoại <span></span></h6>
							<input disabled class="form-control" type="text" value="@cart.User.PhoneNumber">
	   </div>
	  </div>
	  <div class="checkout_1l1 row">
       <div class="col-md-12 ps-0">
	    <h6>Địa chỉ <span></span></h6>
							<input disabled class="form-control" type="text" value="@cart.User.Address">
	   </div>
	  </div>

	  <div class="checkout_1l">
	   <div class="form-check">
        <label class="form-check-label" for="customCheck1"><a href="#">Thông tin bị sai? Thay đổi tại đây.</a></label>
    </div>
	  </div>
	</div>
	 <div class="col-md-4">
       <div class="checkout_1r">
					<h5>
						Tổng Giỏ Hàng. <a data-bs-toggle="modal"
						data-bs-target="#addRowModal" type="button">Chi tiết giỏ hàng</a>.
					</h5>
	     <hr class="line">
					<h6>Tổng đơn hàng 
						<span class="pull-right">
								@ViewBag.totalPrice.ToString("N0") VND.
						</span>
						</h6>
		<h6>
			(+) Phí vận chuyển <span class="pull-right">
								@{
									var deliveryCost = 50000;
								}
								@deliveryCost VND
								<input type="hidden" name="deliveryCost" value="@deliveryCost"/>
				</span>
			</h6>
		<hr>
		<h6 class="fw-bold font_13">Tổng thanh toán <span class="pull-right">
								@{
									var total = deliveryCost + (double)ViewBag.totalPrice;
								}
								@total VND
			</span></h6><br>
	     <hr class="line">

		<div class="form-group mt-2">
			<h5 for="paymentMethod">Chọn phương thức thanh toán</h5>
			<select class="form-control" id="paymentMethod" name="paymentMethod">
				<option value="cod">Thanh toán khi nhận hàng (COD)</option>
				<option value="vn_pay">Chuyển khoản ngân hàng</option>
				<option value="paypal"> Thanh toán bằng Paypal</option>
			</select>
		</div>

		 <h6 class="mt-3"><button class="button" type="submit">Tiến hành thanh toán</button></h6>

		 <!-- form chi tiết giỏ hàng -->
					<div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content custom-modal-body">
				<div class="modal-header">
				  <h5 class="modal-title" id="newRowModalLabel">Chi tiết giỏ hàng</h5>
									<button type="submit" asp-action="Checkout" asp-controller="Home" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
								<div class="modal-body">
									<div class="mb-5">
										<table class="table" id="tableProduct">
											<thead>
												<tr>
													<th>Tên sản phẩm</th>
													<th>Màu sắc</th>
													<th>Kích thước</th>
													<th>Chất liệu</th>
													<th>Số lượng</th>
													<th>Đơn giá</th>
													<th>Thành tiền</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var detail in ViewBag.details){
												<tr>
													<td>@detail.Product.Name</td>
												
														<td>@detail.Product.Color</td>
														<td>@detail.Product.Dimension</td>
													<td>Cotton</td>
													
														<td>@detail.Quantity</td>
															<td>@detail.Product.Price.ToString("N0") VND</td>
													<td>
															@{
																double totalPriceProduct = detail.Quantity * detail.Product.Price;
															}
																@totalPriceProduct.ToString("N0")
													</td>

													</tr>
												}
											</tbody>
										</table>
										</div>
				 
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary">Đóng</button>
				</div>
			  </div>
			</div>
		  </div>


	   </div>
	  </div>
   </div>
	</form>
		}
</div>
</section>
<style>
	.custom-modal-body {
		max-height: 600px; /* Tăng chiều cao tối đa */
		max-width:800px;
		overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá chiều cao */
	}

</style>