@{
	ViewData["Title"] = "Đơn hàng";
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
	var orders = ViewBag.Orders;
}
<section id="center" class="p_3 bg_light">
	<div class="container-xl">
		<div class="row center_1">
			<div class="col-md-12">
				<h6 class="font_14"><a asp-action="Index" asp-controller="Home">Trang chủ</a>  <span class="mx-2">/</span>  <span class="col_red">Đơn hàng</span></h6>
				<h2 class="mb-0 mt-3 lh-1">Đơn hàng</h2>
			</div>
		</div>
	</div>
</section>


<section id="cart_page" class="cart p_3">
	<div class="container-xl">
		<div class="cart_2 row">
		</div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mã hóa đơn</th>
								<th>Ngày đặt</th>
								<th>Ngày giao</th>
								<th>Tổng tiền</th>
								<th>Trạng thái</th>
								<th>Thao tác</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var order in orders)
							{
								<tr>
									<td>@order.Id</td>
									<td>@order.DateOrder</td>
									<td>@order.DateReceive</td>
									<td>
										@{
											var otherCost = order.OtherCost;
											if (otherCost == null)
											{
												otherCost = 0;
											}
											var totalPrice = 0.0;
											// tong phi van chuyen va phi khac
											totalPrice = order.DeliveryCost + otherCost;
											//tong tat ca cac gia cua cac product
											foreach (var detailOr in order.OrderProductDetails)
											{
												totalPrice = totalPrice + (detailOr.Quantity * detailOr.PriceSale);
											}
										}
										@totalPrice VND
									</td>
									<td>@order.Status</td>
									@{
										string title = "hóa đơn";
										if (@order.Status != "Đã thanh toán")
										{
											title = "phiếu tạm tính";
										}
									}
									<td>
										<a target="_blank" asp-action="Invoice" asp-controller="Home" asp-route-orderId="@order.Id" asp-route-title="@title">Xem chi tiết @title</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
