@model IEnumerable<doan1_v1.Models.Order>

@{
    ViewData["Title"] = "Quản lý đơn hàng";
    var orders = ViewBag.Orders;
}
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">NTFashion</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a asp-action="Index">Quản lý</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a asp-action="Index">@ViewData["Title"]</a>
                </li>
              </ul>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Thông tin sản phẩm</h4>
                      
                    <!-- form them -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newRowModalLabel">Thêm thông tin sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form action="">
                              <div class="mb-3">
                                <table class="table mt-3" id="ketQua">
                                  <thead>
                                      <tr>
                                          <th>Danh mục</th>
                                          <th>Số lượng tồn kho</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                        <tr>
                                          <td>Áo thun</td>
                                          <td>20</td>
                                        </tr>
                                  </tbody>
                              </table>
                              </div>
                            
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="addRowModal"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >

                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Trạng thái</th>
                            <th>Ngày giao</th>
                            <th>Tổng tiền</th>
                            <th>Số điện thoại</th>
                            <th style="width: 10%">Thao tác</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Trạng thái</th>
                            <th>Ngày giao</th>
                            <th>Tổng tiền</th>
                            <th>Số điện thoại</th>
                            <th style="width: 10%">Thao tác</th> 
                          </tr>
                        </tfoot>
                        <tbody>                         
                        @foreach(var order in orders){
                                        if (order.IsDel == true)
                                        {
                                            continue;
                                        }
                                        <tr>
                            <td>@order.Customer.FullName</td>
                                            <td>@order.DateOrder</td>
                                            <td>@order.Status</td>
                                            <td>@order.DateReceive</td>
                            <td>
                                                @{
                                                    // var otherCost = order.OtherCost;
                                                    // if(otherCost == null)
                                                    // {
                                                    //     otherCost = 0;
                                                    // }
                                                    var totalPrice = 0.0;
                                                    // tong phi van chuyen va phi khac
                                                    totalPrice = order.DeliveryCost;
                                                    //tong tat ca cac gia cua cac product
                                                    foreach (var detailOrder in order.OrderProductDetails)
                                                    {
                                                        totalPrice = totalPrice + (detailOrder.Quantity * detailOrder.PriceSale);
                                                    }
                                                }
                                                @totalPrice.ToString("N0")
                            </td>
                            <td>@order.Customer.PhoneNumber</td>
                            <td>
                              <div class="form-button-action">
                                <!-- view -->
                                <a asp-action="Details" asp-route-id="@order.Id"
                                                       target="_blank"
                                type="button"
                                title="Xem chi tiết đơn hàng"
                                class="btn btn-link btn-primary btn-lg"
                              >
                                <i class="fa fa-eye"></i>
                              </a>

                               @if (order.Status != "Đã thanh toán"){
                                <!-- update -->
                                <a asp-action="Edit" asp-route-id="@order.Id"
                                  title="Chỉnh sửa đơn hàng"
                                  class="btn btn-link btn-warning btn-lg">
                                  <i class="fa fa-edit"></i>
                                </a>

                                <!-- confirm success order -->
                                <a
                                asp-action="confirmOrder" asp-route-id="@order.Id"
                                type="button"
                                title="Xác nhận đơn hàng thành công"
                               class="btn btn-link btn-success btn-lg">
                                <i class="fa fa-check"></i>
                              </a>
                                <!-- delete order -->
                                                        <a asp-action="DeleteConfirmed" asp-route-id="@order.Id"
                                  title="Xóa đơn hàng"
                                  class="btn btn-link btn-danger btn-lg">
                                  <i class="fa fa-times"></i>
                                </a>
                                }
                              </div>
                            </td>
                          </tr>
                                    }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@