@model IEnumerable<doan1_v1.Models.Product>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
}

<div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">NTMFashion</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="#">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="#">Quản lý sản phẩm</a>
                </li>
              </ul>
            </div>
            <div class="row">

              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Thông tin sản phẩm</h4>
                    <a
                    class="btn btn-primary btn-round ms-auto"
                    asp-action="Create"
                  >
                    <i class="fa fa-plus"></i>
                    Thêm sản phẩm
                  </a>
                    <!-- form them -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newRowModalLabel">Thêm thông tin sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">                            
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="addRowModal"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >
                    <!-- add  -->
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header border-0">
                            <h5 class="modal-title">
                              <span class="fw-mediumbold"> New</span>
                              <span class="fw-light"> Row </span>
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          
                          <div class="modal-footer border-0">
                            <button
                              type="button"
                              id="addRowButton"
                              class="btn btn-primary"
                            >
                              Add
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!-- table -->
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Màu sắc</th>
                            <th>Kích cỡ</th>
                            <th style="width: 10%">Thao tác</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Màu sắc</th>
                            <th>Kích cỡ</th>
                            <th style="width: 10%">Thao tác</th> 
                          </tr>
                        </tfoot>
                        <tbody>
                                    @if (ViewBag.Products != null)
                                    {
                                        @foreach (var product in ViewBag.Products)
                                        {
                                            @if (product.IsDel == true)
                                            {
                                                continue;
                                            }
                                            <tr>
                                                <td>@product.Name</td>
                                                <td>@product.Category.Name</td>
                                                <td>@product.Price.ToString("N0")</td>
                                                <td>@product.Quantity</td>
                                                <td>@product.Color</td>
                                                <td>@product.Dimension</td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <!-- view -->
                                                        <a asp-action="Details" asp-route-id="@product.Id"
                                                           target="_blank"
                                                           title="Xem thông tin chi tiết sản phẩm"
                                                           class="btn btn-link btn-primary btn-lg">
                                                            <i class="fa fa-eye"></i>
                                                        </a>

                                                        <!-- update -->
                                                        <a asp-action="Edit" asp-route-id="@product.Id"
                                                           class="btn btn-link btn-primary btn-lg">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <!-- delete -->
                                                        <a asp-action="Delete" asp-route-id="@product.Id"
                                                           title=""
                                                           class="btn btn-link btn-danger btn-lg">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    
                                    
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>